<%- include('partials/header'); -%>
    <h2 class="title2">
        books section
    </h2>

    <div class="form-search-author">
        <form action="/books" method="GET" id="search-form">
            <div class="search-item">
                <label for="">Title:</label>
                <input type="text" name="book" id="author" placeholder="Search book">
            </div>
            <div class="search-item">
                <label for="">Published Before:</label>
                <input type="date" name="publishedAfter" id="author" placeholder="Search book">
            </div>
            <div class="search-item">
                <label for="">Published After:</label>
                <input type="date" name="publishedBefore" id="author" placeholder="Search book">
            </div>
            <button type="submit" id="searchBtn">Search</button>
        </form>
    </div>


    <% if(book){%>
        <div class="autor-scrollable">
            <div class="autor-div">

                <%book.forEach((book)=>{ %>
                    <a href="/<%= book.id %> " class="book-list-div">
                        <!-- <div class="book-list-div"> -->
                        <div class="img-div">
                            <img src="<%= book.imgSrc %>" alt="<%=book.title%> ">
                        </div>
                        <div class="word-div">
                            <p>
                                <%=book.title%>
                            </p>
                            <p> by:
                                <%author.forEach((author)=>{%>
                                    <%if(book.author == author.id){%>
                                        <p>
                                            <%= author.name %>
                                        </p>
                                        <% }%>


                                            <% })%>
                            </p>
                            <p>
                                <%=book.pageCount%> Pages
                            </p>
                            <p>
                                <%= book.datePublished.toLocaleDateString()%>
                            </p>

                        </div>
                        <!-- </div> -->
                    </a>
                    <% })%>

            </div>
        </div>

        <%}%>


            <a href="/books/newBook" id="create">Create new book</a>

            <%- include('partials/footer'); -%>