<%- include('partials/header'); -%>
    <h3 class="title2">
        Welcome to galary
    </h3>



    <% if(book){%>
        <div class="author-scrollable">
            <div class="bookShow">
                <%   book.forEach((book)=>{ %>
                    <a href="/<%= book._id %> " class="bookItem">
                        <img src="<%= book.imgSrc %> " alt="<%= book.title %> ">
                    </a>
                    <%  })%>
            </div>
        </div>
        <%} %>


            <%- include('partials/footer'); -%>